
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" >
            <Authorizing>
                <p>Autorizando...</p>
            </Authorizing>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
       <CascadingAuthenticationState> 
            <PageTitle>No Encontrado</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">lo sentimos no hay nada en esta direccion</p>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>



